<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include "partials/seo.liquid" %}

  {% include "partials/structured-data.liquid" %}

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/typography.css">
  <link rel="icon" href="/favicon.ico">
</head>
<body>
  <div class="container">
    {% include "partials/nav.liquid" %}

    <main class="main">
      {{ content }}
    </main>

    <footer class="footer">
      <p>Copyright &copy; 2025 by <a href="https://stanlemon.com">Stan Lemon</a> &amp; <a href="https://jonkohlmeier.com">Jon Kohlmeier</a></p>
    </footer>
  </div>
</body>
</html>
