---
permalink: /feed/index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Redirecting to RSS Feed...</title>
  <meta http-equiv="refresh" content="0; url=/feed.xml">
  <link rel="canonical" href="{{ site.url }}/feed.xml">
</head>
<body>
  <p>Redirecting to <a href="/feed.xml">RSS feed</a>...</p>
  <script>window.location.href = '/feed.xml';</script>
</body>
</html>
