<div class="bio">
  <img src="/assets/profile-pic.jpg" alt="{{ site.author.name }}" class="bio-avatar">
  <p>
    Written by <strong>{{ site.author.name }}</strong>
    {` `}
    <a href="https://twitter.com/{{ site.social.twitter }}">
      You should follow them on Twitter
    </a>
  </p>
</div>
