<div class="bio">
  <p>
    Written by <strong>{{ site.author.name }}</strong>
    <br>
    <a href="https://twitter.com/{{ site.social.twitter }}">
      You should follow them on Twitter
    </a>
  </p>
</div>
