<nav class="nav" role="navigation" aria-label="Main navigation">
  <a href="/" aria-label="Home">
    <img src="/images/logo.png" alt="Life with a Twist of Lemon Logo" class="logo">
  </a>
  <h1>
    <a href="/">{{ site.title }}</a>
  </h1>
</nav>
