{% if values and values.size > 0 %}
  <section class="tags-section">
    <p>
      <strong>{{ label }}:</strong>
      {% for value in values %}
        <a href="/{{ prefix }}/{{ value | slugify }}/">{{ value }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </p>
  </section>
{% endif %}
