{% if include.values and include.values.size > 0 %}
  <section class="tags-section">
    <p>
      <strong>{{ include.label }}:</strong>
      {% for value in include.values %}
        <a href="/{{ include.prefix }}/{{ value | slugify }}/">{{ value }}</a>{% unless forloop.last %} {% endunless %}
      {% endfor %}
    </p>
  </section>
{% endif %}
